{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700&display=swap"
    />
    <link rel="preload" as="image" href="{% static 'images/hero.svg' %}" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.svg' %}" />
     {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
      {{user.is_authenticated|json_script:"logged-in" }}
    <div id="app"></div>
    <script src="{% static 'frontend/App.js'%}"></script>
  </body>
</html>
